<ion-content [fullscreen]="true">
<div class="header">
  <ion-title class="title">Welcome Back</ion-title>
  <p class="subTitle">Sign in access your account</p>
</div>

<form [formGroup]="loginForm">
  <div class="ion-padding">
    <ion-item>
      <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <div *ngIf="this.loginForm['controls']['email'].dirty && this.loginForm.controls?.['email'].errors">
      <ion-text color="danger" *ngIf="this.loginForm.controls?.['email'].errors['required']" >
        Vui lòng nhập Email
      </ion-text>
      <ion-text color="danger" *ngIf="this.loginForm.controls?.['email'].errors['email']" >
        Email không đúng định dạng
      </ion-text>
    </div>

    <ion-item>
      <ion-input formControlName="password" placeholder="password" class="input"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <div *ngIf="this.loginForm['controls']['password'].dirty && this.loginForm.controls?.['password'].errors">
      <ion-text color="danger" *ngIf="this.loginForm.controls?.['password'].errors['required']" >
        Vui lòng nhập mật khẩu
      </ion-text>
      <!-- <ion-text color="danger" *ngIf="this.loginForm.controls?.['password'].errors['pattern']" >
        Mật khẩu phải có ít nhất 1 ký tự đặc biệt, 1 ký tự thường, 1 ký tự viết hoa, 1 số dài 8 ký tự
      </ion-text> -->
    </div>

    <div class="forgotpassword">
      <a [routerLink]="['/reset-password']" style="color:#FFC33F">  Forgot password?</a>
    </div>
    <div class="signupLink">
      <p>New member?<a style="color:#FFC33F" [routerLink]="['/signup']">Signup now</a></p>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
    <ion-fab-button (click)="logIn()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</form>
</ion-content>
