<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Welcome</ion-title>
    <p class="subTitle">Sign UP to create your account</p>
  </div>
  
  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="Họ và tên" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm['controls']['fullname'].dirty && this.regForm.controls?.['fullname'].errors">
        <ion-text color="danger" *ngIf="this.regForm.controls?.['fullname'].errors['required']" >
          Vui lòng nhập Họ và tên
        </ion-text>
      </div>
      
      <ion-item>
        <ion-input formControlName="email" placeholder="Email" class="input" type="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm['controls']['email'].dirty && this.regForm.controls?.['email'].errors">
        <ion-text color="danger" *ngIf="this.regForm.controls?.['email'].errors['required']" >
          Vui lòng nhập Email
        </ion-text>
        <ion-text color="danger" *ngIf="this.regForm.controls?.['email'].errors['email']" >
          Email không đúng định dạng
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" placeholder="Mật khẩu" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm['controls']['password'].dirty && this.regForm.controls?.['password'].errors">
        <ion-text color="danger" *ngIf="this.regForm.controls?.['password'].errors['required']" >
          Vui lòng nhập mật khẩu
        </ion-text>
        <!-- <ion-text color="danger" *ngIf="this.regForm.controls?.['password'].errors['pattern']" >
          Mật khẩu phải có ít nhất 1 ký tự đặc biệt, 1 ký tự thường, 1 ký tự viết hoa, 1 số dài 8 ký tự
        </ion-text> -->
      </div>
      
      <div class="signinLink">
        <p>Already member<a style="color:#FFC33F" [routerLink]="['/login']">Signin now</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
      <ion-fab-button (click)="signUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
  </ion-content>
  